
<div class="page-header">
  <h1 class="white">C R A I G S L I S T</h1>

</div>

<div class="container">
  {{outlet}}
</div>

<div class="page-footer">
  <p>Copyright (c) 2016 | Yvonna Contreras & Jon Sweeney| Epicodus | Portland, OR</p>
</div>
