<h1>{{model.title}}</h1>
<h4>Posts:</h4>
<!-- {{new-post post=post}} -->



{{new-post category=model post=post savePost2="savePost3"}}
{{#each model.posts as |post|}}
  <li>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</li>
{{/each}}
<h3>{{#link-to 'index'}}Back{{/link-to}}</h3>
